<div class="container">
  <div class="row">
    <%= react_component 'App', {tokens: @tokens,
                                     isAuthorized: authorized?,
                                     contacts: @contacts} %>
  </div>
</div>


